@using ASPNETCORE.CORE
@model Restaurant

<div class="card col-sm" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name: @Model.Name</li>
    <li class="list-group-item">Description: @Model.Description</li>
    <li class="list-group-item">Type: @Model.Type</li>
    <li class="list-group-item">Location: @Model.Location</li>
  </ul>
</div>